:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --main-color: #212121;
  --secondary-color: rgb(255, 255, 255);
  --additional-color: #757575;
  --accent-modal-btn: #188ce8;
  --logo-main-color: #000000;
}
.link {
  text-decoration: none;
  color: var(--main-color);
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

/*=====Heder=====*/
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}
.logo-color {
  color: var(--accent-color);
}
.nav-link,
.contact-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.active-link {
  color: var(--accent-color);
}
.contact-link-header {
  color: var(--additional-color);
}

.contact-link-header:hover,
.contact-link-header:focus {
  color: var(--accent-color);
}

/*=====And Heder=====*/

/*=====Hero=====*/
.hero {
  background-color: var(--background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-color);
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-modal-btn);
}
/*=====And Hero=====*/

/*=====Advantage=====*/
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}
/*=====And Advantage=====*/
/*=====Short info=====*/
.short-info-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
}
/*=====AND Short info=====*/
/*=====TEAM=====*/

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}
/*=====AND TEAM=====*/
/*=====FOOTER=====*/
.footer {
  background-color: var(--background-color);
}
.logo-dark-theme {
  color: var(--secondary-color);
}
.contact-link-footer,
.physical-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
}
.physical-address {
  color: var(--secondary-color);
}
.contact-link-footer {
  color: rgba(255, 255, 255, 0.6);
}
.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--accent-color);
}

/*=====AND FOOTER=====*/

/*=====PORTFOLIO=====*/
.filtre-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
}
.filtre-btn:hover,
.filtre-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2x;
  letter-spacing: 0.06em;
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

/*=====AND PORTFOLIO=====*/
/*=====COMPONRNT=====*/

/*=====AND COMPONRNT=====*/
